@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

body{
    font-family: 'Roboto 300', sans-serif;
    color: white;
    text-align: justify;
}
li{
    background-color:  #354BF7;
    padding-top: 15px;
    margin-bottom: 25px;
    list-style: none;
    margin-right: 45px;
}
h1{
    font-size: 60px;
    font-weight: bold;
}
h2{
    background-color: #C70039;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    font-size: 40px;
    font-weight: bold;
}
h3{
    font-size: 35px;
    font-weight: bold;
}
p{
    line-height: 30px;
}
article:first-of-type{
    background-color: #354BF7;
    padding: 25px;
    line-height: 30px;
    border-radius: 25px 25px 0px 0px;
}
span{
    background-color: white;
    color: #354BF7;
    border-radius: 6px;
    padding: 0px 10px 0px 10px;
    font-weight: bolder;
}
section{
    margin: 0px 35px 0px 35px;
    padding-bottom: 30px;
}
a{
    background-color: #C70039;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s ease;
}
a:hover{
    background-color: white;
    color: #C70039;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    border: 2px #C70039 solid;
    transition: 0.5s ease;
}

main > div:first-of-type{
    width: 160px;
    height: 130px;
    background-color: #C70039;
    margin: 39px;
    position: relative;
}
div:nth-child(1){
    background-color: #354BF7;
    height: 90px;
    width: 110px;
    position: absolute;
    top: 10px;
    left: 10px;
}
div > div:nth-child(2){
    background-color: white;
    height: 90px;
    width: 80px;
    position: absolute;
}